site_name: Geraeteausleihe Microservice Semesterarbeit 4
site_description: Cloud Native Deployment mit Kubernetes und GitHub Actions
site_author: Efekan Demirci

theme:
  name: material
  language: de
  features:
    - toc.integrate
    - content.code.copy
    - navigation.tracking

nav:
  - Start: index.md
  - Dokumentation: dokumentation.md

markdown_extensions:
  - admonition
  - tables
  - attr_list
  - toc:
      permalink: true
      toc_depth: 4
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

plugins:
  - search
  - mermaid2

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mermaid-force.js
