site_name: Geraeteausleihe Microservice Sem4
site_description: Cloud Native Deployment auf AWS mit Kubernetes, K3s auf EC2 und GitHub Actions
site_url: https://cancani.com/geraeteausleihe-sem4/

repo_url: https://github.com/Cancani/geraeteausleihe-sem4
repo_name: Cancani/geraeteausleihe-sem4

theme:
  name: windmill
  language: de

plugins:
  - search

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true
      toc_depth: 4
      numbered: true
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - https://unpkg.com/mermaid@10/dist/mermaid.min.js
  - javascripts/mermaid-init.js

nav:
  - Start: index.md
  - Dokumentation: dokumentation.md
