apiVersion: apps/v1
kind: Deployment
metadata:
  name: geraeteausleihe
  namespace: geraeteausleihe
spec:
  replicas: 1
  selector:
    matchLabels:
      app: geraeteausleihe
  template:
    metadata:
      labels:
        app: geraeteausleihe
    spec:
      containers:
        - name: app
          image: ghcr.io/cancani/geraeteausleihe-sem4:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 20
