.md-typeset h1 {
  font-size: 2.4rem;
  font-weight: 800;
  letter-spacing: 0.2px;
}

.md-typeset h2 {
  font-size: 1.8rem;
  font-weight: 750;
  letter-spacing: 0.15px;
}

.md-typeset h3 {
  font-weight: 700;
}

.md-header__title {
  font-weight: 800;
}

.md-nav__title {
  font-weight: 700;
}
