name: container-build

on:
  push:
    branches:
      - main
    paths:
      - "service/**"
      - "Dockerfile"
      - ".dockerignore"
      - ".github/workflows/container-build.yml"

  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: login ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/geraeteausleihe-sem4:latest
            ghcr.io/${{ github.repository_owner }}/geraeteausleihe-sem4:${{ github.sha }}
